*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container{
    background-color: hsl(185,41%,84%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.calc-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: hsl(0,0%,100%);
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    gap: 2rem;
}

.heading{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
}

.calc-container__input_section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.calc-container__preview_section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 6px;
    background-color: hsl(183,100%,15%);
    padding: 1rem;
    color: #fff;
}

.input-control{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

input{
    all: unset;
    background-color: hsl(202,50%,97%);
    padding:.5rem 1rem;
    border-radius: 6px;
    font-size: 1.2rem;
}

.input-section__tip_collection{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.select_tip{
    width:45%;
    background-color: hsl(183,100%,15%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: .5rem;
    border-radius: 6px;
    font-size: 1.2rem;


}

@media(min-width: 425px){

   .container{
       width: 100vw;
       height: 100vh;

   }

   .calc-container{
       width: 60%;
       flex-direction: row;
       border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
   }
}